<div  class="bgm">
<div style="height:10%;"></div>	
<mat-card *ngIf="showcontent1" class="my-card">
  <mat-card-header>
   
    <mat-card-title>Registration</mat-card-title>
    
  </mat-card-header>
   <mat-card-content>
	  <form [formGroup]="registerForm" (submit)="submit()">
		 <mat-form-field class="full-width">
			<mat-label>Enter your First Name</mat-label>
			 <input matInput formControlName="fname" required>
			<mat-error *ngIf="registerForm.controls.fname.touched && registerForm.controls.fname.invalid">
			  <span *ngIf="registerForm.controls.fname.errors.required">First name is mandatory.</span>
			</mat-error>
		 </mat-form-field>
		 <mat-form-field class="full-width">
			 <mat-label>Enter your Lastname</mat-label>
			  <input matInput formControlName="lname" type="text">
			  <mat-error *ngIf="registerForm.controls.lname.touched && registerForm.controls.lname.invalid">
				 <span *ngIf="registerForm.controls.lname.errors.required">This field is mandatory.</span>
			  </mat-error>
		  </mat-form-field>
		  <mat-form-field class="full-width">
			<mat-label>Enter your email</mat-label>
			 <input matInput formControlName="email" required>
			<mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
			  <span *ngIf="registerForm.controls.email.errors.required">This field is mandatory.</span>
			  <span *ngIf="registerForm.controls.email.errors.pattern">This field is invalid.</span>
			</mat-error>
		 </mat-form-field>
		 <mat-form-field class="full-width">
			 <mat-label>Enter your Mobile Number</mat-label>
			  <input matInput  formControlName="mobile"  required>
			  <mat-error *ngIf="registerForm.controls.mobile.touched && registerForm.controls.mobile.invalid">
				 <span *ngIf="registerForm.controls.mobile.errors.required">This field is mandatory.</span>
				 <span *ngIf="registerForm.controls.mobile.errors.pattern">This field is invalid. Enter in the format of +917898789890</span>
			  </mat-error>
		  </mat-form-field>
		  <div class="full-width">
			 <mat-label>Select your gender</mat-label>
			  <mat-radio-group formControlName="gender">
				<mat-radio-button value="male">Male</mat-radio-button>
				<mat-radio-button value="female">Female</mat-radio-button>
				<mat-radio-button value="others">Others</mat-radio-button>
			  </mat-radio-group>
			  <mat-error *ngIf="registerForm.controls.gender.touched && registerForm.controls.gender.invalid">
				 <span *ngIf="registerForm.controls.gender.errors.required">This field is mandatory.</span>
			  </mat-error>
		  </div>
		  <mat-form-field class="full-width">
			 <mat-label>Enter your Address</mat-label>
			  <textarea matInput formControlName="address"  required></textarea>
			  <mat-error *ngIf="registerForm.controls.address.touched && registerForm.controls.address.invalid">
				 <span *ngIf="registerForm.controls.address.errors.required">This field is mandatory.</span>
			  </mat-error>
		  </mat-form-field>
		  <mat-form-field class="full-width">
			 <mat-label>Enter the password</mat-label>
			  <input matInput formControlName="password" type="password">
			  <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
				 <span *ngIf="registerForm.controls.password.errors.required">This field is mandatory.</span>
				 <div *ngIf="registerForm.controls.password.errors.minlength">
					 Password must be 8 characters length
				</div> 
			  </mat-error>
		  </mat-form-field>
		  <mat-form-field class="full-width">
			 <mat-label>Confirm the Password</mat-label>
			  <input matInput formControlName="confirmpassword" type="password">
			  <mat-error *ngIf="registerForm.controls.confirmpassword.touched && registerForm.controls.confirmpassword.invalid">
				 <span *ngIf="registerForm.controls.confirmpassword.errors.required">This field is mandatory.</span>
				 
				 <span style="color:red;" *ngIf="registerForm.value.password !== registerForm.value.confirmpassword">
					Passwords don't match.
				</span>
			  </mat-error>
		  </mat-form-field>
		 <button mat-raised-button style="margin-left:30%; margin-bottom:3%;" color="primary" type="submit">Register Here</button>	
	   </form>
	</mat-card-content>
   
</mat-card>
<mat-card *ngIf="showcontent2" class="my-card">
     <mat-card-header>
   
    <mat-card-title>Profile Information</mat-card-title>
    
  </mat-card-header>
  <hr>
    <mat-card-content *ngIf="showcontent2">
		
		<table>
		<thead>
		<th>Field Name</th>
		<th>Value</th>
		</thead>
		<tbody>
		<tr >
		<td>
			First Name
		</td>
		<td>
			{{dataSource.fname}}
		</td>
		
		</tr>
		<tr >
		<td>
			Last Name
		</td>
		<td>
			{{dataSource.lname}}
		</td>
		
		</tr>
		<tr >
		<td>
			Email Address
		</td>
		<td>
			{{dataSource.email}}
		</td>
		
		</tr>
		<tr >
		<td>
			Mobile Number
		</td>
		<td>
			{{dataSource.mobile}}
		</td>
		
		</tr>
		<tr >
		<td>
			Address
		</td>
		<td>
			{{dataSource.address}}
		</td>
		
		</tr>
		</tbody>
		</table>  
		
		<div class="form-group">
       <label for="file">Choose File</label>
			<input type="file"
				   id="file"
				   (change)="handleFileInput($event.target.files)">
		</div>
    </mat-card-content>
   </mat-card>
</div>
